################################################################################

#ssl_stapling                on;
#ssl_stapling_verify         on;
#resolver                    77.88.8.8 195.208.4.1 valid=300s;
#resolver_timeout            5s;
#ssl_ciphers EECDH:+AES256:-3DES:RSA+AES:!NULL:!RC4;
#ssl_session_cache          shared:SSL:16m;
#ssl_session_timeout        5m;
#ssl_prefer_server_ciphers  on;
ssl_protocols              TLSv1.2 TLSv1.3;

################################################################################

#add_header Strict-Transport-Security "max-age=86400;";

################################################################################
