<?php

$config['cache_redis_global_ttl'] = 7200;
$config['cache_backend'] = 'redis';
$config['cache_redis_server'] = 'localhost';

$config['session_backend'] = 'redis';
$config['session_redis_server'] = 'localhost';

?>
